streamlit==1.35.0
PyMuPDF==1.24.3
python-docx==1.1.2
spacy==3.7.4
nltk==3.8.1
scikit-learn==1.4.2
sentence-transformers==2.7.0
numpy==1.26.4
pandas==2.2.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl